* {
    margin: 0;
    padding: 0;
}

:root {
    --navy-blue: #2B3499;
    --sunset-orange: #FF6C22;
    --fruit-orange: #FF9209;
    --beige: #FFD099;
}

body {
    font-family: 'Raleway', sans-serif;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    color: #fff;
    background-color: var(--navy-blue);
    grid-row: 1 / -1;

    display: grid;
}

.header{
    padding: 20px;
    background-color: #ffffff;
}

.header-top .profile-and-notifications {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.welcome {
    display: flex;
}

.action-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
}

.action-bar li {
    color: #fff;
    background-color: var(--navy-blue);
    border-radius: 20px;
    padding: 10px;
    width: 70px;
    height: 30px;
    text-align: center;
}

/*remove this after img added*/
.welcome-profile-icon {
    width: 65px;
    height: 65px;
    background-color: var(--fruit-orange);
    border-radius: 50%;
}

.main-content {
    background-color: #EEEDED;
    padding: 15px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.user-projects {
    grid-row: span 2;
}

.user-projects-cards-container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    background-color: #fff;
    height: 175px;
}

.announcements-container {
    background-color: #fff;
}

.trending {
    grid-column: 2 / 3;
}

.trending-container {
    background-color: #fff;

    display: grid;
}

.trending-profile .icon, 
.profile-and-notifications .profile-icon,
.profile-and-notifications .notification-icon {
    width: 30px;
    height: 30px;
    background-color: var(--fruit-orange);
    border-radius: 50%;
}

.content-title {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 12px;
}


li {
    list-style: none;
}